.libra{
    text-align: center;
}

.texto1{
    font-size: 25px;
}

.botao1{
    background-color: #f81124;
    color: #ffffff;
    height: 2.5em;
    width: 6em;
    margin-top: 1em;
    border-radius: 10px;
    border: none;
}